

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 500;
}

button svg {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.ant-layout {
  font-family: "Montserrat", sans-serif;
}
