.article-detail {
    padding: 10px 20px;
    padding-top: 80px;
}

.article-detail .ant-image {
    width: 100%;
}

.article-detail .ant-image img {
    border-radius: 8px;
}

.article-detail .ant-image .ant-image-mask {
    border-radius: 8px;
}

@media screen and (min-width: 992px) {
    .article-detail {
        padding: 10px 0;
        max-width: 850px;
        margin: 0 auto;
    }
}
